@page "/"
@using EventPi.AutoUpdate
@inject DockerComposeConfigurationRepository repo
@inject UpdateProcessManager mgm
@inject UpdateHost host
<PageTitle>Home</PageTitle>

<MudStack>
    <ObservableForEach ItemSource="repo.GetPackages()">
        <MudPaper Class="pa-4" Elevation="2">
            <MudField Label="Name">@context.FriendlyName</MudField>
            <MudField Label="Current version">@context.CurrentVersion</MudField>
            @if (@context.IsUpgradeAvailable())
            {
                <MudField Label="Available upgrade:">@context.AvailableUpgrade()</MudField>
            } else
            {
                <MudText Color="Color.Info">You have the latest version.</MudText>
            }


            @* @foreach (var x in i.Containers(host))
            {
                <MudField Label="App">@x.Name</MudField>
                <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Style="height:300px">
                    <thead>
                    <tr>
                        <th>Log</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var i in x.Logs())
                    {
                        <tr>
                            <td>@i</td>
                        </tr>
                    }
                </tbody>
                </MudSimpleTable>
            } *@

        </MudPaper>
    </ObservableForEach>
</MudStack>



<MudButton OnClick="@OnClick">Update all</MudButton>

@code {
    private bool _isUpdateAvailable;
    private async Task OnClick(MouseEventArgs e)
    {
        await mgm.UpdateAll();
    }
}